{% load static %}
<!DOCTYPE html>
<html lang="kk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> <!-- fa solid -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>SaparTime</title>
</head>
<body>
    <div class="overlay" id="overlay"></div>
    {% block header %}
    <header>
        <a href="/">
            <img src="{% static 'img/logo2.PNG' %}" alt="logo" class="small-logo">
        </a>
        <div class="head">
            <nav>
                <ul>
                    <li>
                        <a href="/">Басты бет</a>
                    </li>
                    <li>
                        <a href="/about">Компания жайлы</a>
                    </li>
                    <li>
                        <a href="/reviews">Пікірлер</a>
                    </li>
                    {% if request.user.is_authenticated %}
                        <li>
                            <div id="menu-trigger"><span>&#9776;</span></div>
                        </li>
                    {% else %}
                        <li class="registration"><a href="/registration">Тіркеу</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    {% endblock header %}
    <div class="side-menu" id="side-menu">
        <ul>
            <li><a href="/myprofile">Менің профильім</a></li>
            <li><a href="/bonuses">Бонустар</a></li>
            <li><a href="/promokod">Промокодтар</a></li>
            <li><a href="/kuzhat">Құжаттар</a></li>
            <li><a href="/bailanys">Байланыс</a></li>
            <li><a href="/sayahat">Саяхатшылар әлемі</a></li>
            <li><a href="{% url 'logout' %}">Шығу</a></li>
        </ul>
    </div>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuTrigger = document.getElementById("menu-trigger");
            const sideMenu = document.getElementById("side-menu");
            const overlay = document.getElementById("overlay");

            menuTrigger.addEventListener("click", function (e) {
                e.preventDefault(); 
                sideMenu.classList.toggle("active");
                if (sideMenu.classList.contains("active")) {
                    overlay.classList.add("active");
                    document.body.style.overflow = "hidden";
                } else {
                    overlay.classList.remove("active");
                    document.body.style.overflow = "";
                }
            });

            function closeMenuFunc() {
                sideMenu.classList.remove("active");
                overlay.classList.remove("active");
                document.body.style.overflow = "";
            }

            overlay.addEventListener("click", closeMenuFunc);

            sideMenu.querySelectorAll("a").forEach((link) => {
                link.addEventListener("click", closeMenuFunc);
            });
            
            sideMenu.addEventListener("mouseenter", function() {
                overlay.classList.add("active");
            });
            
            sideMenu.addEventListener("mouseleave", function() {
                if (!sideMenu.classList.contains("active")) {
                    overlay.classList.remove("active");
                }
            });
        });
    </script>
</body>
</html>